body {
	font-family: 'Open Sans';
	font-size: 15px;
	background-image: url("back.png");
}

@font-face {
	font-family: 'comic';
	src: url("comic-font.ttf");
}

p {
	margin-bottom: 50px;
}

h1 {
	/*font-style: italic;*/
	font-weight: 600;
}

.heading {
	font-family: 'comic';
	font-size: 62px;
	margin: 30px 0;
	text-align: center;
}

.video {
	width: 100%;
	height: 380px;
	margin: 15px 0;
}

.container {
	/*width: 800px;*/
}

.footer {
	width: 100%;
	background-color:rgba(132,132,132,0.1);
	color: #7f7f7f;
	height: 80px;
	line-height: 80px;
	text-align: center;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.footer a {
	color: #7f7f7f;
	text-decoration: underline;
}